@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Lexend+Deca:wght@400;500;600&family=Open+Sans:ital,wght@0,700;1,500;1,600;1,700&display=swap');

body {

font-family: 'Caprasimo', serif;
font-family: 'Lexend Deca', sans-serif;
font-family: 'Open Sans', sans-serif;

}

header{
    z-index: 10001;
}